<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Info</h4>
        <hr>
      </div>
      <div class="content">
        <%=@work_detail.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4 class="title"> Budgets </h4>
            <hr>
          </div>
          <div class="content">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4 class="title"> Settings </h4>
            <hr>
          </div>
          <div class="content">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title"> Accomplishments </h4>
        <hr>
      </div>
    </div>
  </div>
</div>
